<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Accounts</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/>
    <link th:href="@{/admin-css/admin-fontawesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin-css/admin-bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin-css/templatemo-style.css}" rel="stylesheet"/>
  </head>

  <body id="reportsPage">
    <div class="" id="home">
      <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
          <a class="navbar-brand" th:href="@{/admin/dashboard}" >
            <h1 class="tm-site-title mb-0">Admin</h1>
          </a>
          <button
            class="navbar-toggler ml-auto mr-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/dashboard}" >
                  <i class="fas fa-tachometer-alt"></i> Dashboard
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/list-products}">
                  <i class="fas fa-shopping-cart"></i>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/users}">
                  <i class="far fa-user"></i>
                  Accounts
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row tm-content-row" id="userTable">
          <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <h2 class="tm-block-title">List of User Accounts</h2>
              <div class="mb-3">
                <input type="text" id="searchInput" class="form-control" style="color: white;" placeholder="Search users..." />
              </div>
              <table class="table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Address</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                  <td th:text="${user.id}"></td>
                  <td th:text="${user.firstName}"></td>
                  <td th:text="${user.lastName}"></td>
                  <td th:text="${user.email}"></td>
                  <td th:text="${user.phoneNumber}"></td>
                  <td th:text="${user.address}"></td>
                  <td>
                    <form th:action="@{/admin/deleteUser/{id}(id=${user.id})}" method="post">
                      <button type="submit" class="tm-product-delete-link" onclick="return confirmDelete();">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="userDetails" class="tm-bg-primary-dark" style="display: none;">
          <h2 class="tm-block-title">Edit User Details</h2>
          <form th:action="@{/admin/updateUser}" method="post">
            <input type="hidden" id="userId" name="id">
            <div class="form-group row">
              <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" name="firstName">
              </div>
            </div>
            <div class="form-group row">
              <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" name="lastName">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email">
              </div>
            </div>
            <div class="form-group row">
              <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
              </div>
            </div>
            <div class="form-group row">
              <label for="address" class="col-sm-2 col-form-label">Address:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="address" name="address">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <input type="submit" class="btn btn-primary btn-block text-uppercase" value="Submit">
              </div>
              <div class="col-sm-6">
                <input type="button" id="closeButton" class="btn btn-primary btn-block text-uppercase" value="Close">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script th:src="@{/admin-js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/admin-js/bootstrap.min.js}"></script>
    <script>
      function confirmDelete() {
        if (confirm("Are you sure you want to delete this user? This action cannot be undone.")) {
          return true;
        } else {
          return false;
        }
      }
      $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("table tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });

      $("table tbody tr").click(function() {
        var firstName = $(this).find("td:eq(1)").text();
        var lastName = $(this).find("td:eq(2)").text();
        var email = $(this).find("td:eq(3)").text();
        var phoneNumber = $(this).find("td:eq(4)").text();
        var address = $(this).find("td:eq(5)").text();

        $("#firstName").val(firstName);
        $("#lastName").val(lastName);
        $("#email").val(email);
        $("#phoneNumber").val(phoneNumber);
        $("#address").val(address);

        $("#userDetails").show();
      });
    </script>
    <script>
      $(document).ready(function () {
        $("table tbody tr").click(function() {
          var id = $(this).find("td:eq(0)").text();
          var firstName = $(this).find("td:eq(1)").text();
          var lastName = $(this).find("td:eq(2)").text();
          var email = $(this).find("td:eq(3)").text();
          var phoneNumber = $(this).find("td:eq(4)").text();
          var address = $(this).find("td:eq(5)").text();

          $("#userId").val(id);
          $("#firstName").val(firstName);
          $("#lastName").val(lastName);
          $("#email").val(email);
          $("#phoneNumber").val(phoneNumber);
          $("#address").val(address);

          $("#userDetails").show();
        });

        $("#closeButton").click(function(e) {
          e.preventDefault();

          $("#userDetails").hide();
        });
      });
    </script>
    <!-- https://getbootstrap.com/ -->
  </body>
</html>
