<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link th:href="@{/admin-css/admin-fontawesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin-css/admin-bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin-css/templatemo-style.css}" rel="stylesheet"/>
    <link th:href="@{/css/modal.css}" rel="stylesheet">

</head>

<body id="reportsPage">
<div class="" id="home">
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" th:href="@{/admin/dashboard}">
                <h1 class="tm-site-title mb-0">Admin</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/admin/dashboard}" >
                            <i class="fas fa-tachometer-alt"></i>
                            Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/list-products}">
                            <i class="fas fa-shopping-cart"></i>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/users}">
                            <i class="far fa-user"></i>
                            Accounts
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                    <h2 class="tm-block-title">Orders List</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ORDER NO.</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">CUSTOMER</th>
                            <th scope="col">PHONE NUMBER</th>
                            <th scope="col">LOCATION</th>
                            <th scope="col">START DATE</th>
                            <th scope="col">EST DELIVERY DUE</th>
                            <th scope="col">ORDER DETAIL</th>
                            <th scope="col">ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <th scope="row" th:text="${order.orderId}"></th>
                            <td>
                                <div th:if="${order.orderStatus == 'Delivery'}" class="tm-status-circle moving">
                                    <!-- OrderStatus Delivery here -->
                                </div>
                                <div th:if="${order.orderStatus == 'Unconfirmed Order'}" class="tm-status-circle cancelled">
                                    <!-- OrderStatus Unconfirmed here -->
                                </div>
                                <span th:text="${order.orderStatus}"></span>
                            </td>                                <td th:text="${order.user.lastName}"></td>
                            <td th:text="${order.user.phoneNumber}"></td>
                            <td th:text="${order.user.address}"></td>
                            <td th:text="${order.orderDate}"></td>
                            <td th:text="${order.deliveryDate}"></td>
                            <td>
                                <button type="button" class="button-18" data-bs-toggle="modal" th:attr="data-bs-target='#orderDetailsModal' + ${order.orderId}">View Details</button>
                            </td>
                            <td>
                                <form th:action="@{/admin/confirm-order/{id}(id=${order.orderId})}" method="post">
                                    <input type="submit" value="Confirm" class="button-18 button-confirm"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div th:each="order : ${orders}">
                        <div class="modal fade" th:id="'orderDetailsModal' + ${order.orderId}" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Image</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="detail : ${order.orderDetails}">
                                                <td th:text="${detail.product.productName}"></td>
                                                <td>
                                                    <img th:src="@{${detail.product.image}}" width="100" height="100" alt="Product Image">
                                                </td>
                                                <td th:text="${detail.quantity}"></td>
                                                <td th:text="${'$'+detail.price}"></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><strong>TOTAL</strong></td>
                                                <td th:text="${#aggregates.sum(order.orderDetails.![quantity])}"></td>
                                                <td th:text="${'$'+order.totalAmount}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: lightyellow; color: black; border-radius: 18px" >Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/admin-js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="../../static/admin-js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="../../static/admin-js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="../../static/admin-js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="../../static/admin-js/tooplate-scripts.js"></script>

<div th:replace="~{fragment::script}">
</div>

<script>
    // JavaScript to trigger the modal
    document.querySelectorAll('[data-bs-toggle="modal"]').forEach(function(button) {
        var target = button.getAttribute('data-bs-target');
        var modal = new bootstrap.Modal(document.querySelector(target), {
            backdrop: false // Disable the backdrop
        });

        button.addEventListener('click', function() {
            modal.show();
        });
    });

    document.querySelectorAll('.modal').forEach(function(modal) {
        modal.addEventListener('click', function(event) {
            // If the target of the click event is the modal itself (not a child element of the modal)
            if (event.target === modal) {
                // Hide the modal
                modal.style.display = 'none';
            }
        });
    });
    document.querySelectorAll('.modal').forEach(function(modal) {
        modal.addEventListener('hidden.bs.modal', function () {
            document.querySelector('.modal-backdrop').remove();
        });
    });
</script>
</body>

</html>