<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Product</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="../../static/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <link th:href="@{/admin-css/admin-fontawesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin-css/admin-bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin-css/templatemo-style.css}" rel="stylesheet"/>

    <style>
      .tm-edit-product-row {
        display: flex; /* Enable flexbox for alignment */
      }

      .tm-edit-product-row > div {
        flex: 1; /* Allow child elements to share space equally */
      }

      .tm-product-img-dummy {
        width: 330px;
        height: 330px;
        border: 2px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #imagePreview img {
        width: 100%;
        height: auto;
        object-fit: cover; /* Maintain aspect ratio and cover the container */
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="dashboard.html">
          <h1 class="tm-site-title mb-0">Product Admin</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dashboard}" >
                <i class="fas fa-tachometer-alt"></i> Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/list-products}">
                <i class="fas fa-shopping-cart"></i>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/users}">
                <i class="far fa-user"></i>
                Accounts
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row tm-edit-product-row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <form th:action="@{/admin/edit-product/{id}(id=${productId})}" method="post" class="row g-3" enctype="multipart/form-data">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="productName">Product Name</label>
                    <input id="productName" name="productName" type="text" th:value="${productDto.productName}" class="form-control validate" required/>
                  </div>
                  <div class="mb-3">
                    <label for="price">Price</label>
                    <input id="price" name="price" type="text" th:value="${productDto.price}" class="form-control validate" required/>
                  </div>
                  <div class="mb-3">
                    <label for="category">Category</label>
                    <select class="custom-select tm-select-accounts" id="category" name="category">
                      <option value="">Select category</option>
                      <option th:each="cat : ${categories}" th:value="${cat.category}" th:text="${cat.category}" th:selected="${cat.category == productDto.category}"></option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="quantity">Quantity</label>
                    <input id="quantity" name="quantity" type="text" th:value="${productDto.quantity}" class="form-control validate" required/>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row-lg-6 mb-3">
                    <div class="tm-product-img-dummy mx-auto">
                      <img th:src="@{${productDto.image}}" width="300" height="300" alt="Product Image">
                    </div>
                  </div>
                  <div class="custom-file mt-3 mb-3">
                    <input id="imageProduct" name="imageProduct" type="file" style="display:none;" onchange="previewImage(this);"/>
                    <input type="button" class="btn btn-primary btn-block mx-auto"
                           value="UPLOAD PRODUCT IMAGE"
                           onclick="document.getElementById('imageProduct').click();"/>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/admin-js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/admin-js/bootstrap.min.js}"></script>    <!-- https://jquery.com/download/ -->
    <script src="../../static/jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker({
          defaultDate: "10/22/2020"
        });
      });
    </script>
    <script>
      document.getElementById('imageProduct').addEventListener('change', function(e) {
        var reader = new FileReader();
        reader.onload = function(event) {
          document.querySelector('.tm-product-img-dummy img').src = event.target.result;
        };
        reader.readAsDataURL(e.target.files[0]);
      });
    </script>
  </body>
</html>
