<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="~{fragment::head}"></div>

</head>
<body>
<!-- Spinner Start -->
<div th:replace="~{fragment::spinner}">
</div>
<!-- Spinner End -->

<!-- Navbar start -->
<div th:replace="~{fragment::nav-bar}">
</div>
<!-- Navbar End -->


<!-- Modal Search Start -->
<div th:replace="~{fragment::top-search}">
</div>
<!-- Modal Search End -->


<!-- Single Page Header start -->
<div th:replace="~{fragment::header}">
</div>
<!-- Single Page Header End -->


        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <p class="text-center" th:if="${check}"><i class="text-info font-weight-bold text-center"></i>
                        You don't have any items in your cart</p>
                    <table class="table" th:if="${grandTotal}">
                        <thead>
                          <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cartItem :  ${shoppingCart.cartItems}">
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img th:src="@{${cartItem.product.image}}"  class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                    </div>
                                </th>
                                <td>
                                    <p class="mb-0 mt-4" th:text="${cartItem.product.productName}"></p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4" th:text="'$' + ${cartItem.unitPrice}"></p>
                                </td>
                                <form th:action="@{/cart/update-cart}" method="post">
                                    <input type = "hidden" name = "id" th:value = "${cartItem.product.id}" >
                                    <td>
                                    <div class="input-group quantity mt-4" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button type="submit" name="action" value="update" class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                            <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="number" name="quantity" class="form-control form-control-sm text-center border-0" th:value="${cartItem.quantity}" value="1" min="0" step="1" size="4">
                                        <div class="input-group-btn">
                                            <button type="submit" name="action" value="update" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                    <td>
                                    <p class="mb-0 mt-4" th:text="'$' + ${cartItem.unitPrice * cartItem.quantity}"></p>
                                </td>
                                    <td>
                                    <button type="submit" name="action" value="delete" title="Update" class="btn btn-md rounded-circle bg-light border mt-4" >
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
                </div>
                <div class="row g-4 justify-content-end"  th:if = "${grandTotal}">
                    <div class="col-8"></div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                        <div class="bg-light rounded">
                            <div class="p-4">
                                <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                            </div>
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Total</h5>
                                <p class="mb-0 pe-4" th:text="'$' + ${grandTotal}"></p>
                            </div>
                            <a class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button" th:href="@{/order/check-out}">Proceed Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart Page End -->


<!-- Footer Start -->
<footer th:replace="~{fragment::footer}">

</footer>
<!-- Footer End -->

<!-- Copyright Start -->
<div th:replace="~{fragment::copy-right}">
</div>
<!-- Copyright End -->

<!-- JavaScript Libraries -->
<div th:replace="~{fragment::script}">
</div>
    </body>

</html>