<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="~{fragment::head}"></div>
    <link th:href="@{/css/substyle.css}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div th:replace="~{fragment::spinner}">
</div>
<!-- Spinner End -->
<!-- Navbar start -->
<div th:replace="~{fragment::nav-bar}">
</div>
<!-- Navbar End -->
<!-- Modal Search Start -->
<div th:replace="~{fragment::top-search}">
</div>
<!-- Modal Search End -->
<!-- Single Page Header start -->
<div th:replace="~{fragment::header}">
</div>
<!-- Single Page Header End -->
<section>
<div class="mainDiv">
    <div class="cardStyle">
        <form th:action="@{/users/change-password}" method="post" name="signupForm" id="signupForm">
            <h2 class="formTitle">
                <i>Change Password</i>
            </h2>
            <div th:if = "${message}" class="text-center alert">
                <p th:text = "${message}"></p>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="password"> Current Password * </label>
                <input type="password" id="password" name="oldPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="newpassword">New Password *</label>
                <input type="password" id="newpassword" name="newPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password *</label>
                <input type="password" id="confirmPassword" name="repeatNewPassword">
            </div>

            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>
</section>
<!-- Footer Start -->
<footer th:replace="~{fragment::footer}">

</footer>
<!-- Footer End -->

<!-- Copyright Start -->
<div th:replace="~{fragment::copy-right}">
</div>
<!-- Copyright End -->
<!-- JavaScript Libraries -->
<div th:replace="~{fragment::script}">
</div>
</body>

</html>