<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="~{fragment::head}"></div>
    <link th:href="@{/css/loginstyle.css}" rel="stylesheet" >
</head>
    <body>
    <!-- Spinner Start -->
    <div th:replace="~{fragment::spinner}">
    </div>
    <!-- Spinner End -->
    <!-- Navbar start -->
    <div th:replace="~{fragment::nav-bar}">
    </div>
    <!-- Navbar End -->
    <!-- Modal Search Start -->
    <div th:replace="~{fragment::top-search}">
    </div>
        <div class="wrapper">
            <div class="logo">
                <img th:src="@{/img/logo.jpg}" alt="">
            </div>
            <div class="text-center mt-4 name">
            </div>
            <div th:if = "${param.error}" class="alert alert-danger text-center">
                Invalid username or password
            </div>
            <div th:if = "${param.logout}" class="alert alert-success text-center">
                You have been logged out!
            </div>
            <form class="p-3 mt-3" th:action="@{/do-login}" method="post">
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" name="password" id="pwd" placeholder="Password">
                </div>
                <button class="btn mt-3" type="submit">Login</button>
            </form>
            <div class="text-center fs-6">
                <p>Do You Already Have An Account ? <a th:href="@{/auth/register}">Sign up now  </a></p>
            </div>
        </div>
    <!-- Footer Start -->
    <footer th:replace="~{fragment::footer}">
    </footer>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div th:replace="~{fragment::copy-right}">
    </div>
    <!-- Copyright End -->
    <!-- JavaScript Libraries -->
    <div th:replace="~{fragment::script}">
    </div>
</body>

</html>