<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="~{fragment::head}"></div>
    <link th:href="@{/css/substyle.css}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div th:replace="~{fragment::spinner}">
</div>
<!-- Spinner End -->
<!-- Navbar start -->
<div th:replace="~{fragment::nav-bar}">
</div>
<!-- Navbar End -->
<!-- Modal Search Start -->
<div th:replace="~{fragment::top-search}">
</div>
<!-- Modal Search End -->
<!-- Single Page Header start -->
<div th:replace="~{fragment::header}">
</div>
<!-- Single Page Header End -->
<!-- Start Update Personal Information Section -->
<section>
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div th:if="${success}" class="text-center alert-success alert">
                        <p th:text="${success}"></p>
                    </div>
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="order-date">Order Date</th>
                                <th>Delivery Date</th>
                                <th class="price-pr">Order Status</th>
                                <th class="quantity-box" >Total Price</th>
                                <th class="total-pr">Payment Method</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td class="order-date">
                                    <span><b>[(${order.orderDate})]</b></span>
                                </td>
                                <td class="name-pr">
                                    <a th:if = "${order.isAccept != false}" >
                                        [(${order.deliveryDate})]
                                    </a>
                                    <a th:if = "${order.isAccept == false}"><p>5 day left</p> </a>
                                </td>
                                <td class="price-pr">
                                    <p th:text="${order.orderStatus}"></p>
                                </td>
                                <td class="quantity-box" th:text="${order.totalAmount}"> </td>
                                <td class="total-pr" style="color: black">
                                    <span>[(${order.paymentMethod})]</span>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Update Personal Information Section -->
<!-- Footer Start -->
<footer th:replace="~{fragment::footer}">

</footer>
<!-- Footer End -->

<!-- Copyright Start -->
<div th:replace="~{fragment::copy-right}">
</div>
<!-- Copyright End -->
<!-- JavaScript Libraries -->
<div th:replace="~{fragment::script}">
</div>
</body>
</html>
