<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="~{fragment::head}"></div>

</head>
    <body>
        <!-- Spinner Start -->
        <div th:replace="~{fragment::spinner}">
        </div>
        <!-- Spinner End -->

        <!-- Navbar start -->
        <div th:replace="~{fragment::nav-bar}">
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div th:replace="~{fragment::top-search}">
        </div>
        <!-- Modal Search End -->


        <!-- Single Page Header start -->
        <div th:replace="~{fragment::header}">
        </div>
        <!-- Single Page Header End -->


        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4"></h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-xl-3">
                                <form th:action="@{/products/search-product}" method="get">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <input type="search" name="keyword" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                    <button type="submit" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                                </div>
                                </form>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-xl-3">
                                <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                    <label for="fruits">Default Sorting:</label>
                                    <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3">
                                        <option value="volvo">Nothing</option>
                                        <option value="saab">Popularity</option>
                                        <option value="opel">Organic</option>
                                        <option value="audi">Fantastic</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Categories</h4>
                                            <ul class="list-unstyled fruite-categorie" th:each="category : ${categories}">
                                                <li>
                                                    <div class="d-flex justify-content-between fruite-name">
                                                        <a th:href="@{/products/category/{id}(id=${category.id})}"><p th:text="${category.category}"></p></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4 class="mb-2">Price</h4>
                                            <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                            <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Additional</h4>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                                                <label for="Categories-1"> Organic</label>
                                            </div>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                                                <label for="Categories-2"> Fresh</label>
                                            </div>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                                                <label for="Categories-3"> Sales</label>
                                            </div>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                                                <label for="Categories-4"> Discount</label>
                                            </div>
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                                                <label for="Categories-5"> Expired</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="mb-3">Featured products</h4>
                                        <div th:each="randomProduct : ${randomProducts}">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                                <img th:src="@{${randomProduct.image}}" height="90px" width="110px" alt="">
                                            </div>
                                            <div>
                                                <h6 class="mb-2" th:text="${randomProduct.productName}"></h6>
                                                <div class="d-flex mb-2">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="d-flex mb-2">
                                                    <h5 class="fw-bold me-2" th:text="${randomProduct.price} + ' $'"></h5>
                                                    <h5 class="text-danger text-decoration-line-through"></h5>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="d-flex justify-content-center my-4">
                                            <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row g-4 justify-content-center" >
                                    <div class="col-md-6 col-lg-6 col-xl-4" th:each="product : ${products}">
                                        <form th:action="@{/cart/add-to-cart}" method="post">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img th:src="@{${product.image}}" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Food</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.productName}">Product Name</a>
                                                <p></p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0" th:text="${'Price: $' + product.price }">Price</p>
                                                    <input type = "hidden" th:value = "${product.id}" name = "id" class = "form-control">
                                                    <input type="submit" class="btn border border-secondary rounded-pill px-3 text-primary" value="Add to cart"><i class="fa fa-shopping-bag me-2 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fruits Shop End-->


        <!-- Footer Start -->
        <footer th:replace="~{fragment::footer}">

        </footer>
        <!-- Footer End -->

        <!-- Copyright Start -->
        <div th:replace="~{fragment::copy-right}">
        </div>
        <!-- Copyright End -->
        
    <!-- JavaScript Libraries -->
        <div th:replace="~{fragment::script}">
        </div>
    </body>
</html>